@media screen and (min-width: 640px) { // sm
}
@media screen and (min-width: 768px) { // md
}
@media screen and (min-width: 1024px) { // lg
}
@media screen and (min-width: 1280px) { // xl
}
@media screen and (min-width: 1536px) { // 2xl
}

// eg-grid-list
.eg-grid-list{
  gap: 28px; // 30px
  .grid-item{
    width: 100%;
  }
}
// x = Math.ceil(gap * (col-1) /col)
@media screen and (min-width: 640px) { // sm
  .eg-grid-list{
    .grid-item{
      width: calc(50% - 14px); // 30 => 15
    }
  }
}
@media screen and (min-width: 768px) { // md
  .eg-grid-list{
    .grid-item{
      width: calc(33.333% - 19px); // 30 => 20
    }
  }
}
@media screen and (min-width: 1024px) { // lg
  .eg-grid-list{
    .grid-item{
      width: calc(25% - 21px); // 30  => 23
    }
  }
}
@media screen and (min-width: 1280px) { // xl
  .eg-grid-list{
    .grid-item{
      width: calc(20% - 23px); // 30 => 25
    }
  }
}
@media screen and (min-width: 1536px) { // 2xl
}


// grid-list-space
.grid-list-space{
  .grid-item{
    width: 100%;
  }
}
@media screen and (min-width: 768px) { // md
  .grid-list-space{
    .grid-item{
      width: calc(50% - 15px);
    }
  }
}
@media screen and (min-width: 1280px) { // xl
  .grid-list-space{
    .grid-item{
      width: calc(33.333% - 20px);
    }
  }
}
