.custom-text-bg{
  background: linear-gradient(98.78deg, #7E6FFE 55.44%, #FF9CFB 83.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.custom-avatar-bg{
  background: linear-gradient(28.39deg, #7E6FFE 7.38%, #FF9CFB 90.71%);
}
